* {
    margin: 0;
    padding: 0;
}
header {
    position: fixed;
    height: 50px;
    width: 100%;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.col {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Recoleta';
}