* {
    margin: 0;
    padding: 0;
}
header {
    position: fixed;
    height: 50px;
    width: 100%;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.col {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Recoleta';
    font-weight: 700;
}
h1 {
    font-size: 10rem;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 1.5
    rem;
}
h4 {
    font-size: 1.2rem;
}
.trail { /* className for the trail elements */
    position: absolute;
    border-radius: 50%;
    background: #2a2a2a;
    pointer-events: none;
  }