#main {
    height: 100vh;
    flex-wrap: wrap;
    align-items: center;
}
#main-text {
    flex: 1;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#main-text p {
    width: 80%;
    font-size: 1.5rem;
    font-weight: 400;
    color: #2a2a2a;
    margin: 0;
    padding: 0;
}
#main h1 {
    width: 80%;
    color: #2a2a2a;
    margin: 0;
    padding: 0;
}
#main-text-img {
    flex: 1;
    height: 100%;
    background-color: #2A2A2A;
    overflow: hidden;
}
#social-links {
    flex: 1;
    align-self: flex-start;
    gap: 40px;
    align-items: center;
    padding-top: 100px;
    font-family: 'Recoleta';
    min-width: 300px;
}
#social-links a {
    color: #2a2a2a;
    font-size: 1.2rem;
    text-decoration: none;
    align-items: center;
    gap: 10px;
}

@media (max-width: 1600px) {
   h1 {
         font-size: 8rem;
   }
}
@media (max-width: 1300px) {
    h1 {
        font-size: 5rem;
    }
}
@media (max-width: 600px) {
    #main {
        height: auto;
        gap: 20px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #social-links {
        padding-top: 0;
        flex-direction: row;
        align-self: flex-start;
        justify-content: center;
        gap: 20px;
    }
}
@media (max-width: 450px) {
    h1 {
        font-size: 3rem;
    }
}