#contact {
    width: min(1200px, 100%);
    margin: 50px auto;

}
#contact > div {
    align-items: center;
}
#contact a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #2a2a2a;
    margin-right: 40px;
}
.contact-image {
    background-color: #2a2a2a;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 10px;
}